name: build

on:
  push:
    paths: '**.ts' # only run on modified typescript files
    branches: [ master ]
  pull_request:
    branches: [ master ]
jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3.5.2
      - uses: actions/setup-node@v3.4.1
        with:
          node-version: 12
      - run: npm ci
      - run: npm run build
      - run: npm run clean
